<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOG_PATH" source="logging.file.path" defaultValue="./logs"/>
    <logger name="org.eclipse.paho" level="WARN"/>

    <!--  파일 출력 설정 -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp timeZone="Asia/Seoul"/>
                <mdc/>
                <logstashMarkers/>
                <arguments/>
                <loggerName/>
                <threadName/>
                <message/>
            </providers>
        </encoder>
    </appender>

    <!-- 콘솔용 -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp timeZone="Asia/Seoul"/>
                <mdc/>
                <logstashMarkers/>
                <arguments/>
                <loggerName/>
                <threadName/>
                <message/>
            </providers>
        </encoder>
    </appender>

    <!-- 루트로거에 연결 -->
    <root level="INFO">
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
